@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

:root {
	--red: #f54e59;
	--green: #3fd375;
}

.container {
	padding-top: 50px;
	max-width: 340px;
	margin: 0 auto;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	text-transform: capitalize;
}

main {
	color: var(--primary);
	background-color: var(--background);
}

/* COLOR THEMES */

.purpleDream {
	--primary: #baafe6;
	--secondary: #634ac6;
	--background: #322567;
}
.darkNight {
	--primary: #c6e1ff;
	--secondary: #31547c;
	--background: #001a38;
}

.solarPower {
	--primary: #ff812d;
	--secondary: #ffe372;
	--background: #fffff0;
}

.greenHaven {
	--primary: #a2b5a4;
	--secondary: #567b56;
	--background: #131f16;
}

.bubbleGum {
	--primary: #ff53ac;
	--secondary: #fea6d0;
	--background: #ffecf6;
}

.earlGrey {
	--primary: #676767;
	--secondary: #a2a2a2;
	--background: #d8d8d8;
}

/* BUTTONS */

button {
	background-color: transparent;
	color: var(--primary);
	border: 0.5px solid var(--primary);
	display: inline-block;
	width: 100px;
	cursor: pointer;
	padding: 8px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

button.playAndPauseBtn {
	background-color: transparent;
	border: 0;
	padding: 0;
}

/* TIMER */

.timerContainer {
	height: 100vh;
}

/* SLIDER */

.slider {
	height: 40px;
	border: 2px solid var(--secondary);
	border-radius: 20px;
}

.thumb {
	background-color: var(--primary);
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
