@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

:root {
	--red: #f54e59;
	--green: #3fd375;
}

/* COLOR THEMES */

.purpleDream {
	--primary: #cdc1ff;
	--secondary: #644fb8;
	--background: #1e1541;
	--backgroundLight: #4d38a2;
	--backgroundMozilla: #2e2067;
}
.darkNight {
	--primary: #c6e1ff;
	--secondary: #31547c;
	--background: #001a38;
	--backgroundLight: #153d6a;
	--backgroundMozilla: #0d2d54;
}

.solarPower {
	--primary: #ff812d;
	--secondary: #ffdd56;
	--background: #ffffc9;
	--backgroundLight: #fffff0;
	--backgroundMozilla: #fffff0;
}

.greenHaven {
	--primary: #91d8bf;
	--secondary: #6ca791;
	--background: #092b1e;
	--backgroundLight: #2e7459;
	--backgroundMozilla: #0c3f2c;
}

.bubbleGum {
	--primary: #ff53ac;
	--secondary: #fea6d0;
	--background: #fecde7;
	--backgroundLight: #ffecf6;
	--backgroundMozilla: #ffecf6;
}

.earlGrey {
	--primary: #434343;
	--secondary: #888888;
	--background: #a9a9a9;
	--backgroundLight: #dcdcdc;
	--backgroundMozilla: #dcdcdc;
}

* {
	box-sizing: border-box;
	-webkit-appearance: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	text-transform: capitalize;
}

main {
	color: var(--primary);
	background-color: var(--background);
	background: linear-gradient(
		3deg,
		var(--backgroundLight) 0%,
		var(--background) 99%
	);
}

@-moz-document url-prefix() {
	main {
		background: var(--backgroundMozilla);
	}
}

.container {
	padding-top: 80px;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	line-height: 36px;
}

/* HEADINGS AND LABELS */

h1,
h2,
h3,
h4 {
	font-weight: 400;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

label {
	font-size: 18px;
}

/* BUTTONS */

button {
	background-color: transparent;
	color: var(--primary);
	border: 0.5px solid var(--secondary);
	display: inline-block;
	width: 100px;
	cursor: pointer;
	padding: 8px;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
}

button:hover {
	opacity: 0.7;
	border: 1px solid var(--secondary);
}

button:focus {
	border: 2px solid var(--secondary);
}

/* NAVBAR */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--backgroundLight);
	color: var(--primary);
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

li {
	float: left;
	cursor: pointer;
}

li .navElement {
	display: block;
	padding: 8px;
	text-align: center;
}

div.navElement {
	height: 60px;
	width: 60px;
}

.floatRight {
	float: right;
}

.settingsBtn {
	border: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	outline: none;
}
.settingsBtn:focus,
.settingsBtn:hover {
	opacity: 0.7;
	border: 0;
}

.settingsBtn svg {
	width: auto;
	line-height: 40px;
}

.logo {
	width: 60px;
}

.heading {
	font-weight: 700;
	text-transform: uppercase;
}

/* TIMER */

.timerContainer {
	min-height: 100vh;
}

.timerClock {
	margin: 0 auto;
	min-width: 200px;
	min-height: 200px;
	max-width: 250px;
	max-height: 250px;
}

button.playAndPauseBtn {
	background-color: transparent;
	border: 0;
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}

button.playAndPauseBtn:focus {
	border: none;
	opacity: 0.7;
}

/* SETTINGS */

.settingsContainer {
	height: fit-content;
	padding-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
	justify-items: center;
}

.inputContainer {
	display: grid;
	grid-template-columns: 250px;
	justify-content: center;
	text-align: start;
}

.input,
input[type="text"] {
	border: 1px solid var(--secondary);
	border-radius: 0;
	background-color: transparent;
	color: var(--primary);
	font-size: 16px;
	font-family: inherit;
	padding: 8px;
	outline: none;
	cursor: pointer;
}

.input:focus,
input[type="text"]:focus {
	border: 2px solid var(--secondary);
	background-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	text-align: center;
	font-family: inherit;
}

select {
	background-color: transparent;
	border: 0.5px solid var(--secondary);
	border-radius: 0;
	padding: 0 0 0 8px;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	cursor: pointer;
	line-height: inherit;
	outline: none;
	color: inherit;
}

select:focus {
	border: 2px solid var(--secondary);
}

.numberOfCycles {
	display: grid;
	grid-template-columns: 250px;
	justify-content: center;
}

.setNumberOfCycles {
	display: grid;
	grid-template-columns: 30px 50px 30px;
	justify-content: center;
	grid-column-gap: 10px;
}

.btnCount {
	width: 30px;
	padding: 8px;
	font-weight: 700;
	font-size: 16px;
	background-color: var(--primary);
	color: var(--background);
}
.setNumberOfCyclesBtn {
	margin-top: 10px;
}

/* SLIDERS */

.slider {
	box-sizing: content-box;
	width: 250px;
	height: 28px;
	border: 0.5px solid var(--secondary);
	border-radius: 20px;
}

.thumb {
	background-color: var(--primary);
	cursor: pointer;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	outline: none;
}
.thumb:focus {
	border: 1px solid var(--secondary);
}
