@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

:root {
	--red: #f54e59;
	--green: #3fd375;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	text-transform: capitalize;
}

main {
	color: var(--primary);
	background-color: var(--background);
}

.container {
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	line-height: 36px;
}

/* COLOR THEMES */

.purpleDream {
	--primary: #cdc1ff;
	--secondary: #644fb8;
	--background: #402e85;
}
.darkNight {
	--primary: #c6e1ff;
	--secondary: #31547c;
	--background: #001a38;
}

.solarPower {
	--primary: #ff812d;
	--secondary: #ffdd56;
	--background: #fffff0;
}

.greenHaven {
	--primary: #b5e2b9;
	--secondary: #567b56;
	--background: #19261d;
}

.bubbleGum {
	--primary: #ff53ac;
	--secondary: #fea6d0;
	--background: #ffecf6;
}

.earlGrey {
	--primary: #434343;
	--secondary: #888888;
	--background: #dcdcdc;
}

/* TIMER */

.timerContainer {
	min-height: 100vh;
	padding-bottom: 50px;
}

.timerClock {
	margin: 0 auto;
	width: 300px;
	height: 300px;
}

/* SETTINGS */

.settingsContainer {
	height: fit-content;
	padding-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}

.settingsTop {
	display: flex;
	justify-content: space-between;
}

.inputContainer {
	display: grid;
	grid-template-columns: 250px;
	justify-content: center;
	text-align: start;
}

.input,
input[type="text"] {
	border: 1px solid var(--secondary);
	background-color: var(--background);
	color: var(--primary);
	font-size: 16px;
	padding: 8px;
	outline: none;
}

.input:focus,
input[type="text"]:focus {
	border: 2px solid var(--secondary);
	background-color: var(--background);
}

select {
	background-color: transparent;
	border: 0.5px solid var(--secondary);
	padding: 6px 6px 6px 6px;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	cursor: pointer;
	line-height: inherit;
	outline: none;
	color: inherit;
}

select:focus {
	border: 2px solid var(--secondary);
}

/* SELECT NUMBER OF CYCLES */

.numberOfCycles {
	display: grid;
	grid-template-columns: 250px;
	justify-content: center;
}
.setNumberOfCycles {
	display: grid;
	grid-template-columns: 60px 60px;
	justify-content: center;
	grid-column-gap: 10px;
}

.setBtn {
	background-color: var(--primary);
	color: var(--background);
	border: 0;
	width: 60px;
}

/* HEADINGS AND LABELS */

h1,
h2,
h3,
h4 {
	font-weight: 300;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

label {
	font-size: 18px;
}

/* BUTTONS */

button {
	background-color: transparent;
	color: var(--primary);
	border: 0.5px solid var(--primary);
	display: inline-block;
	width: 100px;
	cursor: pointer;
	padding: 8px;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
}

button.playAndPauseBtn {
	background-color: transparent;
	border: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

button:focus {
	border: 2px solid var(--secondary);
}

/* SLIDERS */

.slider {
	box-sizing: content-box;
	height: 32px;
	border: 0.5px solid var(--secondary);
	border-radius: 20px;
}

.thumb {
	background-color: var(--primary);
	cursor: pointer;
	width: 32px;
	height: 32px;
	border-radius: 20px;
	outline: none;
}
.thumb:focus {
	border: 2px solid var(--secondary);
}
